name: testing

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]
  workflow_dispatch:

jobs:
  test:
    name: Go tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'
          check-latest: true

      - name: Download deps
        run: go mod download

      - name: Run tests
        run: make test

      - name: Run tests with race-detector
        run: make test-race

  golangci-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/setup-go@v5
      - uses: actions/checkout@v5

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        continue-on-error: true
        with:
          # The first run is for GitHub Actions error format.
          args: --config=.golangci.yaml

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # The second run is for human-readable error format with a file name
          # and a line number.
          args: --out-${NO_FUTURE}format colored-line-number --config=.golangci.yaml
